<!DOCTYPE html>
<html xmlns:th="http://www.thymeleof.org">
<th:block th:fragment="about-section">
    <section class="section about" id="about">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">About Me</h2>
                <p class="section-subtitle">

                </p>
            </div>
            <div class="about-container">
                <div class="about-content">
                    <div class="about-tagline">My Background</div>
                    <p class="about-text">I am an IT graduate with a Bachelor’s and Master’s in Computer Applications and practical experience gained through real-world projects and a Java trainee consultant internship. My background includes working with Java, Spring Boot, and Liferay DXP 7.4 in enterprise environments, where I learned to deliver backend solutions while collaborating within agile teams.</p>
                    <p class="about-text">Alongside industry training, I have designed and developed diverse academic and self-driven projects, including a full-stack e-commerce platform (React.js, Node.js, MongoDB), a placement management system (Java Swing, MySQL), and a catering application (Python, Django). These projects reflect my ability to adapt across technologies and handle the complete lifecycle — from database design to frontend usability.</p>
                    <p class="about-text">Now based in Australia with full work rights, I am seeking opportunities where I can apply my skills in software development, backend systems, or full-stack engineering. I bring technical competence, adaptability, and a problem-solving mindset, with the ambition to grow into roles that combine modern web technologies, cloud, and collaborative team environments to deliver meaningful outcomes.</p>
<!--                    skills-->
                    <div class="skills-container">
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-java"></i>
                            </div>
                            <div class="skill-name">Java</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-code"></i>
                            </div>
                            <div class="skill-name">SpringBoot</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-js"></i>
                            </div>
                            <div class="skill-name">JavaScript</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-react"></i>
                            </div>
                            <div class="skill-name">react</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fas fa-database"></i>
                            </div>
                            <div class="skill-name">SQL</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-server"></i>
                            </div>
                            <div class="skill-name">MySql</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-cloud"></i>
                            </div>
                            <div class="skill-name">AWS</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-code-branch"></i>
                            </div>
                            <div class="skill-name">Git</div>
                        </div>

                    </div>
                </div>
                <div class="bout-visual">
                    <div class="about-image-container">
                        <div class="about-image-bg"></div>
                        <img src="/images/hero-section.jpg" alt="about" class="about-image">
                    </div>
                    <div class="about-decorations">
                        <div class="about-decoration"></div>
                        <div class="about-decoration"></div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>
</html>
