<!DOCTYPE html>
<html xmlns:th="http://www.thymeleof.org">
<th:block th:fragment="footer-section">
    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo">Krupa Nayak</a>
                    <p class="footer-text">
                        Thank you for visiting my portfolio. I am passionate about software development and continuously improving my skills in Java, Spring Boot, and full-stack development. I welcome opportunities to contribute to meaningful projects and collaborate with innovative teams. Please feel free to reach out via email or LinkedIn to discuss potential opportunities or collaborations.
                    </p>
                    <div class="footer-social">
                        <a href="tel:+61 413665442" class="social-link">
                            <i class="fas fa-phone-alt"></i>
                        </a>
                        <a href="mailto:nayakkrupa69@gmail.com" class="social-link">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a href="linkedin.com/in/krupa-nayak-b61442342" class="social-link" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/KrupaNayak29" class="social-link" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading">Quick Links</h3>
                    <div class="footer-links">
                        <a href="#home" class="footer-link">
                            <i class="fas fa-chervron-right">Home</i>
                        </a>
                        <a href="#about" class="footer-link">
                            <i class="fas fa-chervron-right">about</i>
                        </a>
                        <a href="#projects" class="footer-link">
                            <i class="fas fa-chervron-right">projects</i>
                        </a>
                        <a href="#experience" class="footer-link">
                            <i class="fas fa-chervron-right">experience</i>
                        </a>
                        <a href="#achievements" class="footer-link">
                            <i class="fas fa-chervron-right">achievements</i>
                        </a>
                    </div>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading">Quick Links</h3>
                <div class="footer-links">
                    <a href="#achievements" class="footer-link">
                        <i class="fas fa-chervron-right">LinkedIn</i>
                    </a>
                    <a href="#achievements" class="footer-link">
                        <i class="fas fa-chervron-right">Github</i>
                    </a>
                </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Krupa Nayak. All rights reserved</p>
            </div>
        </div>
    </footer>
</th:block>
</html>