<!DOCTYPE html>
<html xmlns:th="http://www.thymeleof.org">
<th:block th:fragment="site-header">
    <header class="header">
        <div class="container header-container">
            <div class="logo">K.<span>N.</span></div>
            <nav class="nav">
                <div class="nav-links">
                    <a href="#about" class="nav-link">About</a>
                    <a href="#about" class="nav-link">Projects</a>
                    <a href="#about" class="nav-link">Experience</a>
                    <a href="#about" class="nav-link">Achievements</a>
                    <a href="#about" class="nav-link">Contact</a>
                </div>
            </nav>
        </div>
    </header>
</th:block>>
</html>