<!DOCTYPE html>
<html xmlns:th="http://www.thymeleof.org">
<th:block th:fragment="hero-section">
    <section class="hero" id="home">

        <div class="hero-background"></div>
        <div class="container hero-container">
        <div class="hero-content">
            <div class="hero-greeting">Hi there, I'm</div>
            <h1 class="hero-title"><span class="gradient-text">Krupa Nayak</span></h1>
            <h2 class="hero-subtitle">Technology Graduate | Software Development, Cloud, Data</h2>
            <p class="hero-description">
                Adaptable IT professional with experience across software development, backend systems, and full-stack applications. Skilled in Java, Spring Boot, React.js, Node.js, Python, and MySQL, with exposure to cloud and cybersecurity. Open to opportunities in software engineering, IT support, and cloud-enabled development roles.
            </p>
            <div class="hero-buttons">
                <a href="#projects" class="btn btn-primary">
                    view my work <i class="fas fa-arrow-right"></i>
                </a>
                <a href="#contact" class="btn btn-outline">
                   Get in touch
                </a>

            </div>
            <div class="social-links">
                <a href="tel: +61 413 665 442" class="social-link">
                    <i class="fas fa-phone-alt"></i>
                </a>
                <a href="Email: nayakkrupa69@gmail.com" class="social-link">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="linkedin.com/in/krupa-nayak-b61442342" target="_blank" class="social-link">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/KrupaNayak29" target="_blank" class="social-link">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
            <div class="hero-visual">
                <div class="hero-visual-inner">
                    <div class="hero-visual-frame">
                        <img src="/images/mypicture.jpeg" alt="profile" style="width: 80%; height: 80%; object-fit: cover; border-redus: 20px;">
                    </div>
                    <div class="hero-visual-frame"></div>
                        <div class="hero-visual-frame"></div>
                </div>

            </div>
        </div>
        <div class="scroll-indicator">
            <span>Scroll Down</span>
            <div class="scroll-indicator-dot"></div>
        </div>
    </section>
</th:block>
</html>
