<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krupa Nayak - Personal Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <!--Loading enimation-->
    <div th:replace="~{Fragments/loader :: loader}"></div>

    <!--header-->
    <div th:replace="~{Fragments/header :: site-header}"></div>

    <!--hero-section-->
    <div th:replace="~{Fragments/hero :: hero-section}"></div>

    <!--about-section-->
    <div th:replace="~{Fragments/About :: about-section}"></div>

    <!--project-section-->
    <div th:replace="~{Fragments/projeccts :: project-section}"></div>

    <!--project-section-->
    <div th:replace="~{Fragments/experience :: experience-section}"></div>

    <!--achievements-->
    <div th:replace="~{Fragments/achievements :: achievements-section}"></div>

    <!--contact-->
    <div th:replace="~{Fragments/contact :: contact-section}"></div>

    <!--footer-->
    <div th:replace="~{Fragments/footer :: footer-section}"></div>
    <!--    Background shapes-->
    <div class="floating-shape shape-1"></div>
    <div class="floating-shape shape-2"></div>
    <div class="floating-shape shape-3"></div>

    <!--    Custom script file-->
<script src="/js/script.js"></script>
</body>
</html>